<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://images.app.goo.gl/HhSHDUt5WgbzNKRX9"  alt="foto da vovó juju da animação irmão do jorel">
    </div>
    <div class="card-body">
      <h5 class="card-title text-center text-monospace"> {{nome}} </h5>
      <p class="card-text text-center text-monospace">Desenvolvedora Full Stack, educadora e cientista.</p>
      
      <a href="linkedin.com/in/linkdindaestela/" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">LinkedIn</a>

    <a href="github.com/githubdaestela" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>
    </div>
  </div>